<?xml version='1.0' encoding='utf-8'?>
<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <Valve className="net.energyhub.session.DynamoSessionTrackerValve" />
    <Manager className="net.energyhub.session.DynamoManager" host="localhost" port="27017" database="sessions" maxInactiveInterval="84"/>
</Context>
